*{
    padding: 0;
    margin: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.289);
}

.mobile {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

header {
    height: 64px;
}
